<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Belle au bois dormant</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>

    <h1>La Belle au bois dormant</h1>

    <div class="histoire-detail">
        <img src="../static/Image/La%20belle%20aux%20bois%20dormant.jpg" alt="La Belle au bois dormant">
        <p>
            Il était une fois une princesse nommée Aurore, qui fut maudite à sa naissance par une fée maléfique.
            La malédiction disait qu’elle se piquerait le doigt sur un fuseau avant son seizième anniversaire et tomberait dans un sommeil éternel.
            Ses parents et toutes les bonnes fées firent de leur mieux pour la protéger. Malgré toutes les précautions, le destin s’accomplit et Aurore sombre dans un profond sommeil.
            Des années plus tard, un prince courageux, guidé par la bravoure et l’amour, découvre la princesse endormie et la réveille d’un baiser, mettant fin à la malédiction et ramenant la joie dans le royaume.
        </p>

        <div class="bouton-retour">
            <a href="{{ url_for('hello_world') }}">← Retour à la page principale</a>
        </div>
    </div>

</body>
</html>
