<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Le Petit Prince</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>

    <h1>Le Petit Prince</h1>

    <div class="histoire-detail">
        <img src="../static/Image/Le%20petit%20prince.jpg" alt="Le Petit Prince">
        <p>
            Le Petit Prince quitte sa petite planète et son amour pour sa rose afin d’explorer l’univers.
            Au cours de ses voyages, il rencontre des adultes étranges et des situations surprenantes sur différentes planètes.
            Chaque rencontre lui enseigne une leçon sur l’amitié, l’amour, la responsabilité et la simplicité de la vie.
            À travers ses aventures poétiques et philosophiques, le Petit Prince nous rappelle la valeur des choses invisibles et la beauté de voir le monde avec le cœur.
        </p>

        <div class="bouton-retour">
            <a href="{{ url_for('hello_world') }}">← Retour à la page principale</a>
        </div>
    </div>

</body>
</html>
