<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les Trois Petits Cochons</title>
    <link rel="stylesheet" href="../static/css/style2.css">
</head>
<body>

    <h1>Les Trois Petits Cochons</h1>

    <div class="histoire-detail">
        <img src="../static/Image/Les%20trois%20petits%20cochons.jpg" alt="Les Trois Petits Cochons">
        <p>
            Trois petits cochons quittent la maison de leur mère pour construire chacun leur propre maison.
            Le premier utilise de la paille, le second du bois, tandis que le troisième choisit la solidité des briques.
            Le grand méchant loup rôde, cherchant à dévorer les cochons.
            Il souffle sur les maisons de paille et de bois, les détruisant facilement, mais se heurte à la maison de briques.
            À travers cette histoire, les enfants découvrent la valeur de la prévoyance, du travail acharné et de la sagesse face au danger.
        </p>

        <div class="bouton-retour">
            <a href="{{ url_for('hello_world') }}">← Retour à la page principale</a>
        </div>
    </div>

</body>
</html>
